* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #9DF3C4;
    background: linear-gradient(to right, #9DF3C4, #D7FBE8);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 30px auto;
    max-width: 1200px;
}

.day {
    background: #eee;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    text-align: center;
    margin: 10px;
    padding: 30px 0;
    font-size: 4rem;
    font-weight: bold;
    color: #9e9e9e;
    cursor: pointer;
    outline: none;
}

.day:hover {
    background: #62D2A2;
    color: #fff;
}

.active {
    background: #1FAB89;
    color: #fff;
}